
@{
    ViewBag.Title = "Empty";
    Layout = null;
}
<p>
    <a class="btn btn-primary btn-lg text-white" onclick="refreshAddNew('@Url.Action("Create","Group", new { id=0})', document.getElementById('addGroup'), document.getElementById('groupCarousel'), 1)"><i class="fa fa-plus fa-lg"></i></a>
</p>
<h5>Group list is empty</h5>

