@{
    Layout = null;
}
<p>
    <a class="btn btn-primary btn-lg text-white" onclick="refreshAddNew('@Url.Action("Create","Location", new { id=0})', document.getElementById('addLocation'), 1)"><i class="fa fa-plus fa-lg"></i></a>
</p>
<h5>Location list is empty</h5>

