@{
    ViewBag.Title = "Empty";
    Layout = null;
}
<p>
    <a class="btn btn-primary btn-lg text-white" onclick="refreshAddNew('@Url.Action("AddOrEditSupplier","Supplier", new { id=0})', document.getElementById('addSupplier'), document.getElementById('supplierCarousel'), 1)"><i class="fa fa-plus fa-lg"></i></a>
</p>
<h5>Suppliers list is empty!</h5>
