
@{
    ViewBag.Title = "Stock";
}

<div id="stockCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item" id="viewStock">
            @Html.Action("ViewItems","Stock")
        </div>
        <div class="carousel-item active" id="addStock">
            @Html.Action("AddOrEditItem", "Stock")
        </div>
    </div>
</div>

