
@{
    ViewBag.Title = "Empty";
    Layout = null;
}
<p>
    <a class="btn btn-primary btn-lg text-white" onclick="refreshAddNew('@Url.Action("Create","Division", new { id=0})', document.getElementById('addDivision'), document.getElementById('divisionCarousel'), 1)"><i class="fa fa-plus fa-lg"></i></a>
</p>
<h5>Division list is empty</h5>
